body {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

form {
    width: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px #616161;
}

.form-group {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.input {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #455a64;
    padding: 5px;
    background: #fff;
    box-shadow: inset 0px 1px 3px 0px #616161;
}

.form-group input[type='submit'] {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.label {
    width: 100px;
}